body {
    height: 150px;
    width: 400px;
    background-color: #F5EFE7;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

h2 {
    color: #213555;
    font-size: 25px;
}

p {
    color: #4F709C;
    font-size: 20px;
}